@page "/login";
@inject HttpClient _httpClient;
@using Poc.Display.Models;

<PageTitle>Login</PageTitle>

<h3>Login Page</h3>

<EditForm Model="LoginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>

@code {
    private LoginInformation LoginModel = new();
    private string ErrorMessage = string.Empty;

    private async Task HandleLogin()
    {

    }
}